$main-font: 'Montserrat', sans-serif;
$secondary-font: 'Roboto' ;
$third-font:'Kaushan Script';
$header-text-color: rgb(255, 255, 255);
$main-text-color: rgb(51, 51, 51);
$secondary-text-color: rgb(153, 153, 153);
$placeholder-text-color: rgb(204, 204, 204);
